// *************
// HERO BUTTONS
// *************

.btn {
    &:link,
    &:visited {
        background-color: transparent;
        text-transform: uppercase;
        text-decoration: none;
        padding: 1rem 2rem;
        margin: 1rem;
        display: inline-block;
        border-radius: 5px;
        transition: all .5s;
        /* used to hide the btn::after effect below */
        position: relative;
        font-size: $default-font-size;
    }

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-black, .5);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    &:active {
        transform: translateY(-1px);
        box-shadow: $shadow-small;
    }

    &--white {
        color: $color-white;

        &::after {
            
        }
    }

    &--grey {
        color: $color-grey-dark;
    }
    
    &--animated {
        animation: moveInButton .5s ease-out .75s;
        animation-fill-mode: backwards;
    }
}




