
// ************
// HERO BUTTONS
// ************
.btn {
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        margin: 6rem 2rem;
        display: inline-block;
        border-radius: 10rem;
        /* transition: all .2s; */

        opacity: 0;
        
        animation-name: fadeInButton;
        animation-duration: 3s;
        animation-timing-function: ease-in;
        animation-fill-mode: forwards;
        animation-delay: 2s;

        /* backface-visibility helps to smooth the animation */
        backface-visibility: hidden;
    }

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, .5);
    }

    &:active {
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .5);
    }

    &--white {
        background-color: #fff;
        color: $light-grey-2;
    }
}

// ************
// SECONDARY BUTTONS
// ************
.btn-text {
    &:link,
    &:visited {
        color: $light-grey-2;
        display: inline-block;
        font-size: $default-font-size;
        text-decoration: none;
        border-bottom: 1px solid $light-grey-2;
        padding: 3px;
        transition: all 0.2s;
    }

    &:hover {
        background-color: $light-grey-2;
        color: $white;
        box-shadow: 0 1rem 2rem rgba($black, 0.15);
        transform: translateY(-2px);
    }

    &:active {
        box-shadow: 0 0.5rem 1rem rgba($black, 0.15);
        transform: translateY(0);
    }
}
