.section-portfolio {
    background-color: #f7f7f7;
    padding: 15rem 0 20rem 0;

    @include respond(tab-port) {
        padding: 20rem 0 10rem 0;
    }
}

.section-skills {
    padding: 12rem 0 12rem 0;
    background-image: linear-gradient(to right bottom, rgba($color-light-red, 0.8), rgba($color-dark-red, 0.8)), url(../img/nat-4.jpg);
    background-size: cover;

    // Skew the section to create the "sash" design
    transform: skewY(-7deg);
    margin-top: -10rem;

    // Direct child selector (all children) to skew back straight and leave background skewed
    & > * {
        transform: skewY(7deg);
    }
}

.section-about-1 {
    background-color: #f7f7f7;
    padding: 10rem 0 1rem 0;

    // filling the whitespace below the cut out wedge by subtracting 75% from 95% - the difference between the long side and short side percentages of vh
    // margin-top: -20vh;
}

.section-about-2 {
    background-color: #f7f7f7;
    padding: 20rem 0;
    margin-top: -10rem;
}

