.section-about {
    background-color: $color-white;
    padding: 10rem 0;

    // filling the whitespace below the cut out wedge by subtracting 75% from 95% - the difference between the long side and short side percentages of vh
    // margin-top: -20vh;
}

.section-portfolio {
    background-color: #f7f7f7;;
    padding: 22rem 0 10rem 0;
    margin-top: -12rem;
}